.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("imagens/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1em; /* Adiciona um pouco de padding para espaçamento interno */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0; 
    width: 60vw;
    background-color: var(--branco); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--amarelo);
    font-weight: bold; 
}

.lista-menu__link {
    background: var(--roxo-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none; 
    display: inline-block; 
    padding: 0.5em 0; 
}

.lista-menu__link:hover {
    text-decoration: underline; /* Adiciona um sublinhado ao passar o mouse */
}